/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.venv
__pycache__/
.pytest_cache/
*.pyc
server/.env
server/.env.development
server/.env.production
server/*.db
server/logs/
*.log
